body {
  background-color: #91DDE5
}

.site {
  margin: 20px;
  padding: 20px;
  border-width: 1px;
  border-color: #FFFFFF;
  border-style: solid;
  background-color: #D8F6FE;
  font-family: 'Helvetica', 'Arial', sans-serif;
}